.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	background-color: #3c3e44;
	color: white;
	width: 380px;
	height: 450px;
	margin: 15px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}
img {
	width: 60%;
	margin-top: 6px;
}
.busqueda {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
}
.verde {
	color: green;
}
.rojo {
	color: red;
}
.boton-busqueda {
	border: none;
	border-radius: 15px;
	color: white;
	background-color: #3c3e44;
	margin: 10px;
	padding: 5px;
	font-size: 16px;
}
