.nav {
	background-color: #3b3e43;
	height: 70px;
	display: flex;
	justify-content: space-between;
}
.contenedor-nav {
	display: flex;
	list-style: none;
	margin: 10px;
	padding: 15px;
	color: #07a74c;
	font-size: 20px;
}
.titulo-nav {
	color: #07a74c;
	margin: 0;
	padding: 20px;
}
.link-nav {
	text-decoration: none;
}
